/*
___________
reset
___________
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --first-color:#0084fd;
    --first-color-light:#b5ddff;
    --secondary-color:#9792e4;   
}

/*
___________
common
___________
*/
.flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justufy-content-between{
    justify-content: space-between;
}

.container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.inline-list{
    display: flex;
    list-style:none;
}

.text-white{
    color: #fff;
}
.padding{
    padding-top: .9375rem;
    padding-bottom: .625rem;
}

.icon{
    color: var(--first-color);
    font-size: 4.6875rem;
    margin-top: 2.1875rem;
}
/*
___________
header
___________
*/

header{
    background-color: var(--first-color);
}

header .header-menu{
    display: none;
}

.fa-bars{
    font-size: 1.1875rem;
    line-height: 4.6875rem;
}

@media screen and (min-width:992px){
    
    header .header-menu{
        display: block;
    }

    li{
        margin-right: 1.25rem;
        line-height: 4.6875rem;
    }

    header .menu-hamburger{
        display: none;
    }
}

/*
___________
main
___________
*/

.col{
    width: 100%;
    background-color: var(--first-color-light);
    text-align: center;
    border-radius: 20px;
    line-height: 1.5rem;
    margin: 25px auto;
    padding: 0 30px;
    position: relative;

}

.container .row .col h2{
    margin: 40px 0;
    color: var(--first-color)
}

.container .row .col p{
    color: #5a6e7f;
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: bold;
}

.container .row .col button{
   background-color: var(--first-color);
   width: 250px;
   font-size: medium;
   text-align: center;
   border-radius: 20px;
   border: none;
   margin-bottom: 40px;
}

.fa-apple{
    margin: 15px 10px;
    
}

.phone{
    width: 100%;   
}

@media screen and (min-width:768px){
    
    .col{
        width: calc(100% / 3 - 15px);
        margin-right: 15px;
    }

    .col:first-child{
        width: calc((100% / 3 - 15px) * 2);
        text-align: left;
    }
    .phone{
        width: 60%;   
    }
}

@media screen and (min-width:992px){
    
    .col{
        width: calc(100% / 3 - 15px);
        margin-right: 15px;
    }

    .col:first-child{
        width: calc((100% / 3 - 15px) * 2);
        text-align: left;
    }
    
    .inline-list button{
        background-color: #fff;
        border-radius: 20px;
        border: none;
        width: 100px;
        height: 30px;

    }
    .phone{
        position: absolute;
        right: 50px;
        bottom: 0px;
        width: 40%;   
    }
}